@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/Montserrat-Thin.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto_Mono/static/RobotoMono-Thin.ttf");
}

body{ 
    background: black;
    color: white;
    margin: 0px;
    padding: 0px;
}

.bigPic{
    z-index: -1;
    max-height: 90vh;
    max-width: 70vw;
    height: auto;
    width: auto;
    position: absolute;
    top: 10vh;
    /* left: 30vw; */
    right: 0vw;
}


.smallClock{
    position: absolute;
    top: 0vh;
    left: 5vh;
    font-size: 20vh;
    font-family: 'Roboto', sans-serif;
    white-space: pre;
}

.bigClock{
    position: absolute;
    top: 0vh;
    left: 15vh;
    font-size: 50vh;
    font-family: 'Roboto', sans-serif;
    white-space: pre;
}

.noShow{
    display: none;
}
